In [37]:
name = "my name is ridoy"

In [38]:
len(name)

16

In [40]:
name.index("ridoy")

11

In [45]:
count = 0
for i in name:
    count = count + 1
    # print(i)
print(count)

16

In [47]:
name.find("e")

6

In [56]:
count = 0
for i in name:
    count = count+1
    if i == "r":
        print(i)
        break
    
print(count)

r
16

In [68]:
name = "my name is ridoy ajfk"
count = -1
for i in name:
    count = count + 1
    if i == "y":
        # print(i)
       break
print(count-len(name))

-20

In [66]:
len(name)

16

In [69]:
name = "My Name is Abdur Rahman"
name

'My Name is Abdur Rahman'

In [70]:
len(name)

23

In [73]:
count = 0
for i in name:
    count = count +1
    # print(i)
print(count)

23

In [79]:
msg = "My Name is Abdur Mutakabbir"
msg = "Mostafijur"

In [85]:
count = -1
for i in msg:
    count = count+1
    if count %2==0:
        print(f"{i} = {count}")

M = 0
s = 2
a = 4
i = 6
u = 8

In [91]:
sen = "Mutakabbir".upper()
count = -1
for i in sen:
    # print(f"{i} = {count}")
    count += 1
    if count %2 == 0:
        print(i + "=", end= "")
        print(count)

M=0
T=2
K=4
B=6
I=8

In [100]:
name = "My name is mostafijur rahman"

count = 0

for i in name:
    if count%3 == 0 or count%5 == 0:
        print(f"{i} = {count}")
    count += 1

M = 0
n = 3
m = 5
e = 6
s = 9
  = 10
o = 12
a = 15
j = 18
r = 20
  = 21
h = 24
m = 25
n = 27

In [98]:
range(11)

range(0, 11)

In [102]:
name = "My name is mostafijur rahman"

count = 0

for i in name:
    if count == 3 or count == 21:
        print(f"{i} = {count}")
    count += 1

n = 3
  = 21